.search{
width:750px;
float:left;
color:#272727;
padding:0 0 16px 108px;
overflow:hidden;
background-position:top left;
background-repeat:no-repeat;
}
.search img{float:left}
.input{
height:17px;
float:left;
border:2px inset #CECECE;
margin:8px 0 0 7px;
padding:0 0 0 5px;
font-size:12px;
color:#454545
}
.first{width:170px}
.second{width:255px;}
.button{
background-position:top left;
background-repeat:no-repeat;
line-height:20px;
padding:0 0 4px 0;
width:67px;
text-align:center;
display:block;
float:left;
margin:7px 0 0 8px;
font-family:Tahoma, sans-serif;
font-size:11px;
color:#222222;
text-decoration:none
}
.line{
width:550px;
float:left;
padding:5px 0 0 130px
}
.exept{
line-height:18px;
float:left;
padding:0 55px 0 0
}
.check{
height:17px;
width:17px;
float:left;
margin:0 6px 0 0
}
.links{
float:left;
}
.links a{
color:#272727;
margin:0 10px;
text-decoration:underline
}
.links a:visited{text-decoration:underline}
.links a:hover{text-decoration:none}
#blocks{
background-position:top left;
background-repeat:repeat-y;
width:860px;
overflow:hidden;
float:left;
padding:23px 0 0 0;
border-top:1px solid #fff;
border-bottom:5px solid #fff
}
.block{
width:215px;
float:left;
}
.block p{
width:180px;
display:flex;
margin:15px 0 20px 25px;
}
.red_text{color:black}
.gray_text{color:black}
#list{
padding:12px 0 18px 11px;
}
#list li{
background-position:top left;
background-repeat:no-repeat;
line-height:20px;
padding:0 0 0 15px;
margin:0 0 2px 0;
list-style-type:none;
}
#list a{
color:black;
text-decoration:none
}
#list a:visited{text-decoration:none}
#list a:hover{text-decoration:underline}
.more{
margin:0 0 0 57px;
}
.signup{
width:165px;
float:left;
margin:2px 0 15px 22px;
}
.submit{
margin:0 0 0 126px;
float:left
}

