#info{
background-position:top left;
background-repeat:repeat-x;
width:859px;
float:left;
overflow:hidden;
padding:30px 0 20px 0;
background-color:#DBDBDB;
color:#454545;
}
#info div{
width:160px;
float:left;
padding:0 10px 0 38px;
}
#info ul{
padding:12px 0 0 4px
}
#info li{
list-style-type:none;
line-height:18px;
}
#info a{
color:#454545;
text-decoration:none
}
#footer{
width:859px;
float:left;
margin-left:70px;
display:inline;
background-position:top left;
background-repeat:no-repeat;
padding:20px 0;
text-align:center;
}


#footer a{
color:#254A73;
text-decoration:underline
}
#footer a:visited{text-decoration:underline}
#footer a:hover{text-decoration:none}
.inner_copy{
border:0;
color:#fff;
float:right;
width:0.09%!important;
margin:-100px;
overflow:hidden;
line-height:0px;
padding:0px;
font-size:11px
}
